@import "variables";
@import "commonClasses";

@import "partials/home";
@import "partials/about";
@import "partials/features";
@import "partials/prices";
@import "partials/feedback";
@import "partials/team";
@import "partials/contacts";

body{
  background-image: url(../img/low_poly_background.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-family: 'Lato', sans-serif;
}
